<div class="container">
  <div class="row">
    <div class="col mt-5">
      <button class="btn btn-warning" id="botao" onclick="Mudar()">
        Logar
      </button>
      
    </div>
  </div>
</div>


    <div id="cadastro">
      <%-include('./cadastro.ejs')%>
    </div>

    <div  style="visibility: hidden; display: none; " id="login">
      <div>

        <%-include('./Login.ejs')%>
      </div>
      
    </div>
 


<script>

  
  function Mudar(){

    if( document.getElementById('cadastro').style.visibility == 'hidden'){
       document.getElementById('cadastro').style.visibility = 'visible'
       document.getElementById('cadastro').style.display = ''
       document.getElementById('botao').innerText = 'Logar'


       document.getElementById('login').style.visibility = 'hidden'
       document.getElementById('login').style.display = 'none'

    }else{
      document.getElementById('cadastro').style.display = 'none'
      document.getElementById('botao').innerText = 'Cadastrar'

       document.getElementById('cadastro').style.visibility ='hidden'
       document.getElementById('login').style.visibility = 'visible'
       document.getElementById('login').style.display = ''


    }


  }
</script>
<style>
  body{
      background-color: darkgray;
  }
</style>